.pink-dropdown{
    background-color: #ff3131 !important;
}

.dropdown-toggle::after{
    display:none;
}

.navbar-icon {
margin-right: 19vw; /* Adjust the margin to increase or decrease the gap */
margin-left: 2vw;
}

.navbar-nav .nav-link {
margin-right: 3vw; /* Adjust the margin to increase or decrease the gap */
}
.custombg{
    background-color: #ff3131 !important;
}